body {
  background-color: #eae8fe;
}
p {
  font-size: 0.9rem;
}
/* header */
.logo {
  width: 100%;
  text-align: center;
  margin-bottom: 68px;
}

.logo .logo-cola {
  width: 386px;
  height: 180px;
  margin: 0 auto;
}

.logo .logo-cola img {
  width: 100%;
}

/* main */
.wrap {
  display: flex;
  justify-content: center;
  gap: 28px;
}
.wrap .drink {
  width: 360px;
  height: 545px;
  padding: 31px 27px 28px;
  background-color: #ffffff;
}

/* 1. drink section 콜라 종류 */
/* 왼쪽 윗부분 */
.list-item {
  display: grid;
  grid-template-columns: 94px 94px 94px;
  grid-template-rows: 130px 130px;
  column-gap: 12px;
  flex-wrap: wrap;
  display: flex;
  gap: 12px;
}

/* 질문!! 자스 구현으로 없어진 태그를 살려둬야할까요?? */
.list-item .item {
  width: 94px;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  display: block;
  padding: 11px 12px 9px;
}

.list-item .item:active {
  outline: 3px solid #6327fe;
}

.list-item .item.soldout {
  outline: none;
}

.list-item .item.soldout::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8) url(../img/Sold-out.svg) center/70% no-repeat;
  border: none;
}

.list-item .item .img-item {
  width: 36px;
}

.list-item .item .txt-item {
  font-size: 1rem;
  transform: scale(0.9);
  margin: 6px 0 7px;
}

.list-item .item .price-item {
  padding: 5px 15px;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 12px;
  border-radius: 50px;
  background-color: #6327fe;
}

/* 왼쪽 하단부분 */
.inp-money {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 12px;
}

.inp-money .txt-remain {
  width: 200px;
  height: 32px;
  display: flex;
  padding: 6px 10px;
  justify-content: space-between;
  font-size: 1.4rem;
  line-height: 20px;
  border-radius: 5px;
  background-color: #eae8fe;
  align-items: center;
}

.inp-money input {
  font-size: 1.3rem;
  width: 200px;
  padding: 5px;
  border: 1px solid #bdbdbd;
  line-height: 19px;
  border-radius: 5px;
}

.btn-return,
.btn-put-money {
  width: 94px;
  height: 32px;
  font-size: 1.3rem;
  line-height: 18px;
  align-items: center;
  padding: 0 9px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

/* .inp-money .put-money {
  display: flex;
  gap: 12px;
} */

.pocket {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.pocket .cola-pocket {
  overflow-y: scroll;
  width: 200px;
  height: 106px;
  display: flex;
  padding: 12px 0 12px 12px;
  flex-wrap: wrap;
  background-color: #eae8fe;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.pocket .cola-pocket::-webkit-scrollbar,
.get-list-item::-webkit-scrollbar {
  width: 12px;
  height: 100%;
}

.pocket .cola-pocket::-webkit-scrollbar-thumb,
.get-list-item::-webkit-scrollbar {
  height: 79px;
  background-clip: padding-box;
  background-color: #fff;
  border: 4px solid transparent;
  border-radius: 16px;
}

.pocket .cola-pocket::-webkit-scrollbar-track,
.get-list-item::-webkit-scrollbar {
  background-color: #eae8fe;
  border-radius: 5px;
}

.pocket-list {
  flex-direction: column;
  padding-right: 4px;
}

.pocket-list button {
  width: 170px;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  margin-bottom: 6px;
}

.pocket-list img {
  width: 18px;
  border-radius: 0;
  margin-right: auto;
}

.list_name {
  font-size: 0.9rem;
  margin-left: 10px;
  margin-right: auto;
}

.list_num {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
.pocket .btn-pocket {
  width: 94px;
  height: 106px;
  background-color: #6327fe;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
}

/* 2. pick section 획득 음료 */
.pick {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pick .money {
  height: 50px;
  width: 360px;
  display: flex;
  padding: 9px 27px;
  margin-bottom: 20px;
  background-color: #ffffff;
  margin-left: auto;
}

.pick .money p {
  display: flex;
  width: 100%;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 1.4rem;
  background-color: #eae8fe;
  justify-content: space-between;
  align-items: center;
}

.pick .txt-money {
  font-weight: 700;
}

.pick .cola-get {
  width: 360px;
  height: 475px;
  padding: 25px 27px 27px;
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
}

.cola-get h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 13px;
}

.pick .get-list-item {
  width: 306px;
  height: 364px;
  margin: 13px auto 0;
  background-color: #eae8fe;
  padding: 12px 0 0 12px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  overflow-y: scroll;
}

.pick .get-list-item .get-list button {
  width: 276px;
  height: 46px;
  padding: 6px 8px 7px 10px;
  background-color: white;
  margin-bottom: 6px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.pick .get-list-item .get-list li img {
  width: 18px;
  border-radius: 0;
  margin-right: 10px;
}

.pick .get-list-item .get-list li:last-child {
  margin-bottom: 0px;
}

.pick .txt-total {
  display: flex;
  justify-content: right;
  margin-top: 6px;
  font-size: 1.2rem;
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  body {
    background-color: #fff;
    /* background-color: #bdbdbd; */
  }
  .logo {
    margin-bottom: 18px;
  }
  .logo-cola {
    width: 166px;
    height: 78px;
  }
  /* main */
  .wrap {
    flex-direction: column;
    align-items: center;
  }
  .drink {
    margin-right: 0;
    height: 535px;
    padding: 31px 27px 0 27px;
  }
  /* 2. 획득 음료 */
  .pick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .money {
    width: 306px;
    height: 32px;
    padding: 0;
    margin-left: 0;
    margin-bottom: 14px;
  }
}
