body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}
.txt-hide {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip-path: inset(0 0 0 0);
}
/* header */
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #EAE8FE;
}
.logo {
  margin-bottom: 68px;
}
.logo_cola {
  width: 386px;
  height: 180px;
  display: flex;
  margin: 0 auto;
}
/* main */
.content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* 1. 콜라 종류 */
.drink {
  width: 360px;
  height: 545px;
  background-color: #ffffff;
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  padding: 31px 27px 28px 27px;
}
.cola_type {
  display: grid;
  grid-template-columns: 94px 94px 94px;
  grid-template-rows: 130px 130px;
  column-gap: 12px;
  gap: 12px;
}
.type {
  position: relative;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 11px 12px 9px;
}
.type:nth-child(1),
.type:nth-child(5){
  outline: 3px solid #6327FE;
}
.type:nth-child(2)::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  background: url(/img/soldout.png) center no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
}
.type img {
  width: 36px;
  height: 65px;
}
.type p {
  margin-top: 6px;
  margin-bottom: 7px;
  font-size: 0.9rem;
  font-weight: 400;
}
.type button {
  width: 70px;
  height: 22px;
  font-size: 1.2rem;
  border-radius: 50px;
  background-color: #6327FE;
  color: #ffffff;
}
.cola_select {
  display: grid;
  grid-template-columns: 200px 94px;
  grid-template-rows: 32px 32px 106px;
  column-gap: 11px;
  gap: 12px;
  margin-top: 20px;
}
.select {
  background-color: #EAE8FE;
  border-radius: 5px;
}
.txt_remain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px 7px;
  align-items: center;
  font-size: 1.4rem;
}
.cola_select button {
  font-size: 1.3rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.input {
  border-style: none;
  padding: 6px 131px 8px 6px;
  font-size: 13px;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
}
input::placeholder{
  color:#bdbdbd;
  text-align: center;
}
.pocket {
  overflow: auto;
  border: 1px solid #bdbdbd;
}
.cola-select::-webkit-scrollbar,
.pocket::-webkit-scrollbar {
  width: 4px;
}
.cola-select::-webkit-scrollbar-thumb,
.pocket::-webkit-scrollbar-thumb {
  height: 79px;
  background-clip: padding-box;
  background-color:#fff;
  border-radius: 50px;
}
.cola-select::-webkit-scrollbar-track,
.pocket::-webkit-scrollbar-track {
  background-color: #EAE8FE;
}
.pocket ul {
  flex-direction: column;
  margin: 12px 10px 0 12px;
  padding-right: 4px;
}
.pocket li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px 7px 8px;
  margin-bottom: 6px;
  background-color: #ffffff;
  border-radius: 5px;
}
.pocket img {
  width: 18px;
  height: 33px;
}
.list_name {
  font-size: 0.9rem;
  margin-left: 10px;
  margin-right: auto;
}
.list_num {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
button.btn_get {
  background-color: #6327FE;
  color: #ffffff;
}
/* 2. 획득 음료 */
.pick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.money {
  width: 360px;
  height: 50px;
  display: flex;
  background-color: #ffffff;
  padding: 9px 27px;
  margin-left: auto;
  margin-bottom: 20px;
}
.txt_money {
  width: 100%;
  background-color: #eae8fe;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
  font-size: 1.4rem;
  padding: 10px;
}
.get_list {
  width: 360px;
  height: 475px;
  display: flex;
  flex-direction: column;
  padding: 26px 27px;
  background-color: #ffffff;
}
.get_drink {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 16px;
  font-weight: 700;
}
.get.pocket {
  height: 475px;
}
.get_total {
  text-align: right;
  font-size: 1.2rem;
  margin-top: 6px;
}
@media screen and (max-width: 767px){
  .wrapper {
    background-color: #fff;
  }
  .logo {
    margin-bottom: 18px;
  }
  .logo_cola {
    width: 166px;
    height: 78px;
  }
  /* main */
  .content {
    flex-direction: column;
    align-items: center;
  }
  .drink {
    margin-right: 0;
    height: 535px;
    padding: 31px 27px 0 27px;
  }
  .pocket li {
    border: 1px solid #bdbdbd;
  }
  /* 2. 획득 음료 */
  .pick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .money {
    width: 306px;
    height: 32px;
    padding: 0;
    margin-left: 0;
    margin-bottom: 14px;
  }
}